*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 100%;
    background-color: #fca103;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    max-width: 70%;
    border: 1px solid black;
    border-radius: 4.6px;
   box-shadow: 8px 0 6px -4px rgba(0,0,0,2), 
            0 8px 6px -4px rgba(0,0,0,2);
    background-color: white;
    padding: 1.4rem;
     margin: 5rem  auto 5rem auto;
}

.bad-idea{
    max-width: 35rem;
      margin: 5rem  auto 5rem auto;
}
.hero-image{
    width: 100%;
    height: 15rem;
    background-image: url(./images/Blog\ Image.png);
    background-repeat: none;
    background-size: cover;
}
button{
    height: 1.6rem;
    width: 6.3rem;
    background-color: #fc9803;
    font-weight: 800;
    border: none;
    border-radius: 4.6px;
    margin-top: 1.2rem;
}

.Published{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
h1{
    font-size: 1.3rem;
    font-weight:bolder;
}
.text-p{
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.2;

}
.profile-div{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    margin-top: 1rem;
}
.profile-div , h2{
    font-size: 1rem;
}